<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{eaten}}">
		{{#if eaten}}UN-EAT THE BURGER!{{else}}EAT THE BURGER!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>