<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-devour="{{devour}}">
		{{#if devour}}Eat that burger!{{else}}Uneat that burger!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>